<div class = "container">
  <div class = "row">
    <div class = "col-md-8 offset-md-4">
      <% if users.exists? %>
          <table class = "follow_users table table-striped text-nowrap table-responsive">
            <% users.each do |user| %>
              <tr>
                <td>
                  <%= link_to user_path(user.id) do %>
                    <%= image_tag user.get_profile_image(50,50), class: "rounded-circle" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to user_path(user.id) do %>
                    <%= user.name %>
                  <% end %>
                </td>
                <td><%= user.followings.count %>フォロー</td>
                <td><%= user.followers.count %>フォロワー</td>
              </tr>
            <% end %>
          </table>
      <% else %>
        <div class = "mt-5">
          <h5>※ユーザーはいません</h5>
          <p><%= link_to "投稿一覧へ", post_blogs_path %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "pagination mt-3">
    <%= paginate users %>
  </div>
</div>

