<h1>下書き一覧</h1>

<% @post_blogs.each do |post_blog| %>
  <div class = "post_field">
    <%= image_tag post_blog.get_image %>
    <%= link_to post_blog_path(post_blog.id) do %>
      <p>タイトル：<%= post_blog.title %></p>
    <% end %>
    <p>投稿内容：<%= post_blog.blog %></p>
    <i class="fas fa-tag"><%= post_blog.tags.map(&:name).join(',') %></i>
    <p>ユーザー画像:</p><%= image_tag post_blog.user.get_profile_image(100,100) %>
    <p>ユーザーネーム：<%= post_blog.user.name %></p>
    <p>投稿日: <%= post_blog.created_at.strftime('%Y/%m/%d') %></p>
    <p><%= link_to "#{post_blog.likes.count}♥", post_blog_path(post_blog.id) %></p>
    <p><%= link_to "#{post_blog.post_comments.count} 件のコメント", post_blog_path(post_blog.id) %></p>
  </div>
<% end %>