<h1>投稿編集画面</h1>

<div class = "edit_post">
  <%= form_with model: @post_blog, url: post_blog_path, method: :patch do |f| %>
    <h4>投稿画像</h4>
      <%= f.file_field :image, accept: "image/*" %>
    <h4>タイトル</h4>
      <%= f.text_field :title %>
    <h4>投稿内容</h4>
      <%= f.text_area :blog %>
    <h4>タグ付け</h4>
    <%= f.text_field :name, value: @tag_list %>
    <h4>公開・下書き</h4>
      <%= f.select :status, PostBlog.statuses.keys.to_a %>
    <%= f.submit '更新' %>
  <% end %>
</div>