<div class = "container">
  <div class = "row">
    <div class = "col-md-4 mt-5 mb-3">
      <%= form_with url: search_post_blogs_path, method: :get, local: true, class: "form-inline" do |f| %>
        <%= f.search_field :keyword, value: @keyword, placeholder: "キーワードを入力", class: "form-control" %>
        <%= button_tag type: "submit", class: "btn btn-success" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-4">
      <h5>タグで絞り込み</h5>
      <% @tag_list.each do |list| %>
        <%= link_to search_tag_post_blogs_path(tag_id: list.id) do %>
          <div class = "d-inline-flex bg-secondary rounded-pill m-1 p-1">
            <span class = "text-white">#<%= list.name %><%= "(#{list.post_blogs.published.count})" %></span>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class = "col-md-8">
      <%= render 'card', post_blogs: @post_blogs %>
    </div>
  </div>
</div>
