<div class = "container">
  <div class = "row mt-5">
    <div class = "col-8 offset-2">
      <div class="card mx-auto mt-4 shadow-lg">
        <%= image_tag @post_blog.get_image(300,300), class: "card-img-top" %>
        <div class="card-body">
          <div class = "row">
            <div class = "col-4">
              <div class = "text-left">
                <% if current_user.present? %>
                  <%= link_to user_path(@post_blog.user.id) do %>
                    <%= image_tag @post_blog.user.get_profile_image(50,50), class: "rounded-circle" %>
                  <% end %>
                <% else %>
                  <%= link_to admin_user_path(@post_blog.user.id) do %>
                    <%= image_tag @post_blog.user.get_profile_image(50,50), class: "rounded-circle" %>
                  <% end %>
                <% end %>
              </div>
              <div class = "text-left mt-1" style="font-size: 0.8em;">
                <% if current_user.present? %>
                  <%= link_to user_path(@post_blog.user.id) do %>
                    <%= @post_blog.user.name %>
                  <% end %>
                <% else %>
                  <%= link_to admin_user_path(@post_blog.user.id) do %>
                    <%= @post_blog.user.name %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class = "col-8 icon">
              <h5 class = "card-title">
                <%= @post_blog.title %>
              </h5>
              <p class = "card-text">
                <%= @post_blog.blog %>
                <% @post_tags.each do |tag| %>
                  <%= link_to search_tag_post_blogs_path(tag_id: tag.id), class: "link_edit" do %>
                    <span class = "bg-secondary text-white rounded-pill m-1 p-1" style="font-size: 0.5em;">
                      #<%= tag.name %><%= "(#{tag.post_blogs.count})" %>
                    </span>
                  <% end %>
                <% end %>
              </p>
              <% if (current_user.present? && @post_blog.user.id == current_user.id) || (current_admin.present? && current_admin.email == 'admin@example.com') %>
                <p class = "text-right icon">
                  <%= link_to edit_post_blog_path(@post_blog.id), class: "link_edit" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to post_blog_path(@post_blog.id), method: :delete, class: "link_edit" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </p>
              <% end %>
              <p class = "text-right">
                <!--ログイン中のユーザーのみいいね-->
                <% if current_user.present? %>
                  <span id = "like_buttons_<%= @post_blog.id %>">
                    <%= render 'likes/like', post_blog: @post_blog %>
                  </span>
                <% else %>
                  <%= @post_blog.likes.count %><i class="fas fa-thumbs-up mx-1"></i>
                <% end %>
                <span id = "comment_count"><%= "#{@post_blog.post_comments.count}件のコメント" %></span>
              </p>
              <p class = "text-right" style="font-size: 0.8em;">
                <%= "#{l @post_blog.created_at, format: :long}に投稿" %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class = "row mt-2">
        <div class = "col-12">
          <span id = "comments_area">
            <%= render 'post_comments/comment', post_blog: @post_blog %>
          </span>
        </div>
      </div>
      <div class = "row mt-5">
        <div class = "col-12">
          <!--エラーメッセージ表示、非同期通信によりrenderから読み込み-->
          <span id = "error_comment">
            <%= render 'post_comments/error', error_comment: @error_comment %>
          </span>
          <!--エラーメッセージ表示、非同期通信によりrenderから読み込み-->
          <% if current_user.present? %>
            <span id = "comment_form">
              <%= render 'post_comments/form', post_blog: @post_blog, post_comment: @post_comment %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


