<h2>投稿詳細ページ</h2>
<div class = "post_field">
  <%= image_tag @post_blog.get_image %>
  <p>タイトル：<%= @post_blog.title %></p>
  <p>投稿内容：<%= @post_blog.blog %></p>
  <p><% @post_tags.each do |tag| %>
        <%= link_to search_tag_post_blogs_path(tag_id: tag.id) do %>
          <%= tag.name %><%= "(#{tag.post_blogs.count})" %>
        <% end %>
    <% end %>
  </p>
  <p>ユーザー画像:</p>
  <%= link_to user_path(@post_blog.user.id) do %>
    <%= image_tag @post_blog.user.get_profile_image(100,100) %>
    <p>ユーザーネーム：<%= @post_blog.user.name %></p>
  <% end %>
  <p>投稿日: <%= @post_blog.created_at.strftime('%Y/%m/%d') %></p>
  <p>
    <% if (current_user.present? && @post_blog.user.id == current_user.id) || (current_admin.present? && current_admin.email == 'admin@example.com') %>
      <%= link_to edit_post_blog_path(@post_blog.id) do %>
        <i class="fas fa-edit fa-lg"></i>
      <% end %>
      <%= link_to post_blog_path(@post_blog.id), method: :delete do %>
        <i class="fas fa-trash-alt fa-lg"></i>
      <% end %>
    <% end %>
  </p>
  <% if current_user.present? && @post_blog.liked_by?(current_user) %>
    <p>
      <%= link_to post_blog_likes_path(@post_blog), method: :delete do %>
        ♥<%= @post_blog.likes.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_blog_likes_path(@post_blog), method: :post do %>
        ♡<%= @post_blog.likes.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div class = "comment_field">
  <p>コメント件数：<%= @post_blog.post_comments.count %></p>
  <% @post_blog.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if (current_user.present? && post_comment.user.id == current_user.id) || (current_admin.present? && current_admin.email == 'admin@example.com') %>
      <%= link_to "削除", post_blog_post_comment_path(post_comment.post_blog, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div class = "post_comment_field">
  <%= form_with model: [@post_blog, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>