<div class = "container">
  <div class = "row mt-5">
    <div class = "col-7">
      <div class="card mx-auto mt-4 shadow-lg">
        <%= image_tag @post_blog.get_image, class: "card-img-top" %>
        <div class="card-body">
          <div class = "row">
            <div class = "col-4">
              <div class = "row mx-1">
                <% if current_user.present? %>
                  <%= link_to user_path(@post_blog.user.id) do %>
                    <%= image_tag @post_blog.user.get_profile_image(50,50), class: "rounded-circle" %>
                  <% end %>
                <% else %>
                  <%= link_to admin_user_path(@post_blog.user.id) do %>
                    <%= image_tag @post_blog.user.get_profile_image(50,50), class: "rounded-circle" %>
                  <% end %>
                <% end %>
              </div>
              <div class = "row mt-1 mx-2">
                <% if current_user.present? %>
                  <%= link_to user_path(@post_blog.user.id) do %>
                    <%= @post_blog.user.name %>
                  <% end %>
                <% else %>
                  <%= link_to admin_user_path(@post_blog.user.id) do %>
                    <%= @post_blog.user.name %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class = "col-8">
              <h5 class = "card-title">
                <%= @post_blog.title %>
              </h5>
              <p class = "card-text">
                <%= @post_blog.blog %>
                <% @post_tags.each do |tag| %>
                  <%= link_to search_tag_post_blogs_path(tag_id: tag.id) do %>
                    <span class = "bg-secondary text-white rounded-pill m-1 p-1">
                      #<%= tag.name %><%= "(#{tag.post_blogs.count})" %>
                    </span>
                  <% end %>
                <% end %>
              </p>
              <% if (current_user.present? && @post_blog.user.id == current_user.id) || (current_admin.present? && current_admin.email == 'admin@example.com') %>
                <p class = "text-right">
                  <%= link_to edit_post_blog_path(@post_blog.id) do %>
                    <i class="fas fa-edit fa-lg"></i>
                  <% end %>
                  <%= link_to post_blog_path(@post_blog.id), method: :delete do %>
                    <i class="fas fa-trash-alt fa-lg"></i>
                  <% end %>
                </p>
              <% end %>
              <p class = "text-right">
                <!--ログイン中のユーザーのみいいね-->
                <% if current_user.present? %>
                  <% if @post_blog.liked_by?(current_user) %>
                    <%= link_to post_blog_likes_path(@post_blog), method: :delete do %>
                      <%= @post_blog.likes.count %><i class="fas fa-thumbs-up mx-1"></i>
                    <% end %>
                  <% else %>
                    <%= link_to post_blog_likes_path(@post_blog), method: :post do %>
                      <%= @post_blog.likes.count %><i class="far fa-thumbs-up mx-1"></i>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= @post_blog.likes.count %><i class="fas fa-thumbs-up mx-1"></i>
                <% end %>
                <%= "#{@post_blog.post_comments.count}件のコメント" %>
              </p>
              <p class = "text-right">
                <%= "#{l @post_blog.created_at, format: :long}に投稿" %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class = "row mt-5">
        <div class = "col-12">
          <!--エラーメッセージ表示-->
          <% if @error_comment.present? %>
            <ul>
              <% @error_comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <% if current_user.present? %>
            <%= form_with model: [@post_blog, @post_comment] do |f| %>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control" %>
              <%= f.submit "送信する", class: "btn btn-success" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class = "col-5">
      <% @post_blog.post_comments.each do |post_comment| %>
        <div class = "row ralert alert-light p-1 mb-2" role = "alert">
          <div class = "col-4">
            <div class = "row">
              <%= image_tag post_comment.user.get_profile_image(50,50), class: "rounded-circle" %>
            </div>
            <div class = "row mt-1">
              <%= post_comment.user.name %>
            </div>
          </div>
          <div class = "col-8">
            <p><%= post_comment.comment %></p>
            <p class = "text-right">
              <%= l post_comment.created_at %>
              <% if (current_user.present? && post_comment.user.id == current_user.id) || (current_admin.present? && current_admin.email == 'admin@example.com') %>
                <%= link_to "削除", post_blog_post_comment_path(post_comment.post_blog, post_comment), method: :delete, class: "bg-danger text-white rounded-pill m-1 p-1" %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


