<div class="d-flex align-items-center justify-content-center" style="height: 70%;">
  <div class = "container">
    <div class="row mt-5">
       <div class="col-4 mt-5">
  	   <h5>トレーニングスケジュール</h5>
          <table class="table" style = "background-color: #FFFFFF;">
            <thead>
              <tr>
                <th>日程</th>
                <th>種目</th>
              </tr>
            </thead>
            <tbody>
              <% @schedules.each do |schedule| %>
                <tr>
                  <td><%= l schedule.start_time, format: :short %></td>
                  <td>
                    <%= link_to schedule_path(schedule.id) do %>
                      <%= schedule.title %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= form_with model: @schedule, url: schedules_path, method: :post do |f| %>
            <div class="title mt-2">
              <div class="form-tag">種目</div>
              <%= f.text_field :title %>
            </div>
            <div class="content mt-2">
              <div class="form-tag">メモ</div>
              <%= f.text_field :memo %>
            </div>
            <div class="time mt-2">
              <div class="form-tag">時間</div>
              <%= f.datetime_select :start_time %>
            </div>
            <div class="submit mt-3">
              <%= f.submit '登録', class: "btn btn-success" %>
            </div>
          <% end %>
      </div>
      <div class="col-8 mt-5">
        <%= month_calendar events: @schedules do |date, schedules| %>
          <%= date.day %>

          <% schedules.each do |schedule| %>
            <div>
              <%= link_to schedule_path(schedule.id) do %>
              <!--truncate文字数制限-->
                <%= schedule.title.truncate(8) %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
