<div class="toppage">
  <h1 class="top">カレンダー</h1>
  </br>

  <div class="row">
    <div class="col-md-4">
    	<div class="schedule">今後の予定一覧</div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>日程</th>
            <th>タイトル</th>
          </tr>
        </thead>

        <tbody>
          <% @schedules.each do |schedule| %>
            <tr>
              <td><%= schedule.start_time.strftime("%m-%d") %></td>
              <td>
                <%= link_to schedule_path(schedule.id) do %>
                  <%= schedule.title %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= form_with model: @schedule, url: schedules_path, method: :post do |f| %>

        <div class="title">
          <div class="form-tag">タイトル</div>
          <%= f.text_field :title %>
        </div>

        <div class="content">
          <div class="form-tag">メモ</div>
          <%= f.text_field :memo %>
        </div>

        <div class="time">
          <div class="form-tag">時間</div>
          <%= f.datetime_select :start_time %>
        </div>

        <div class="submit">
          <%= f.submit '登録' %>
        </div>
      <% end %>
    </div>

  </br>

    <div class="col-md-8">
      <%= month_calendar events: @schedules do |date, schedules| %>
        <%= date.day %>

        <% schedules.each do |schedule| %>
          <div>
            <%= link_to schedule_path(schedule.id) do %>
              <%= schedule.title %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
