<div class = "d-flex align-items-center justify-content-center" style="height: 70%;">
  <div class = "container">
    <div class = "row mt-5">
      <div class = "col-8 offset-3 mt-5">
        <div class = "user_card" style = "width: 30rem;">
          <div class = "card-header text-center" style = "background-color:#FFFFE0;">
            <%= l @schedule.start_time, format: :long %>
          </div>
            <ul class = "list-group list-group-flush text-center">
              <li class = "list-group-item"><%= @schedule.title %></li>
              <li class = "list-group-item memo"><%= @schedule.memo %></li>
              <li class = "list-group-item">
                <% if (current_user.present? && @schedule.user.id == current_user.id) || (current_admin.present? && current_admin.email == 'admin@example.com') %>
                  <%= link_to '編集', edit_schedule_path(@schedule.id), class: "btn btn-success mx-3" %>
                  <%= link_to '消去',schedule_path(@schedule.id), method: :delete, class: "btn btn-danger mx-3" %>
                  <%= link_to 'カレンダーへ戻る', schedules_path(current_user), class: "btn btn-primary mx-3" %>
                <% else %>
                  <%= link_to 'ユーザーページへ', user_path(@schedule.user.id), class: "btn btn-primary" %>
                <% end %>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
