<div class = "top_background">
  <div class="d-flex align-items-center" style="height: 50%;">
    <div class = "container">
      <div class = "row mt-5">
        <div class = "col-6 offset-3 text-white">
          <h2><strong>gyms</strong>でモチベーションUP！</h2>
          <ul>
            <li>ブログ投稿、トレーニングスケジュールを共有しよう！</li>
            <li><i class="far fa-file-alt text-white"></i>=ブログ投稿</li>
            <li><i class="fas fa-home text-white"></i>=みんなの投稿</li>
            <li><i class="fas fa-bell text-white"></i>=いいね、コメント通知</li>
            <li><i class="fas fa-user text-white"></i>=マイページ</li>
          </ul>
        </div>
      </div>
      <div class = "row mt-5">
        <div class = "col-6 offset-3 text-white">
          <h2 class><strong>早速使ってみよう！</strong></h2>
        </div>
      </div>
      <div class = "row mt-5">
      <% if admin_signed_in? %>
        <div class = "col-4">
          <button class="btn btn-secondary btn btn-block" type="button">
            <%= link_to "ユーザー管理へ", admin_users_path %>
          </button>
        </div>
      <% elsif user_signed_in? %>
        <div class = "col-4">
          <button class="btn btn-secondary btn btn-block" type="button">
            <%= link_to "投稿してみよう！", new_post_blog_path %>
          </button>
        </div>
      <% else %>
        <div class = "col-4">
          <button class="btn btn-secondary btn btn-block" type="button">
            <%= link_to "新規登録", new_user_registration_path, class: "text-white" %>
          </button>
        </div>
        <div class = "col-4">
          <button class="btn btn-secondary btn btn-block" type="button">
            <%= link_to "ログイン", new_user_session_path, class: "text-white" %>
          </button>
        </div>
        <div class = "col-4">
           <button class="btn btn-secondary btn btn-block" type="button">
             <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "text-white" %>
           </button>
        </div>
      <% end %>
    </div>
  </div>
</div>