<div class = "container pt-5">
  <div class = "row mt-5">
    <div class = "col-md-12">
      <h2 class = "top_text text-right"><strong>gyms</strong>でモチベーションUP！</h2>
      <p class = "top_text text-right">~ブログ投稿、トレーニングスケジュールを共有しよう~</p>
    </div>
  </div>
  <div class = "row mt-5">
    <div class = "col-md-12 mt-5">
      <h3 class = "top_text text-left"><strong>早速使ってみよう！</strong></h3>
    </div>
  </div>
  <div class = "row mt-5">
    <% if admin_signed_in? %>
      <div class = "col-md-4 mt-3">
        <%= link_to "ユーザー管理", admin_users_path, class: "btn btn-secondary btn btn-block text-white" %>
      </div>
    <% elsif user_signed_in? %>
      <% if current_user.email == "guest@example.com" %>
        <div class = "col-md-4 mt-3">
          <%= link_to "ログアウトしてアカウントを作成しよう!", edit_user_path(current_user.id), class: "btn btn-primary" %>
        </div>
      <% else %>
        <div class = "col-md-4 mt-3">
          <%= link_to "投稿してみよう！", new_post_blog_path, class: "btn btn-secondary btn btn-block" %>
        </div>
      <% end %>
    <% else %>
      <div class = "col-md-4 mt-3">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-secondary btn btn-block" %>
      </div>
      <div class = "col-md-4 mt-3">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-secondary btn btn-block" %>
      </div>
      <div class = "col-md-4 mt-3">
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-secondary btn btn-block" %>
      </div>
    <% end %>
  </div>
</div>