<div class = "container">
  <div class = "row">
    <div class = "col-md-12 admin_users">
      <table class = "admin_users table table-striped table-responsive">
        <thead>
          <tr class = "text-center">
            <th>ユーザーID</th>
            <th>プロフィール画像</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>性別</th>
            <th>年齢</th>
            <th>アカウントステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class = "text-center">
              <td><%= user.id %></td>
              <td><%= image_tag user.get_profile_image(50,50), class: "rounded-circle" %></td>
              <td><%= link_to user.name, admin_user_path(user.id) %></td>
              <td><%= user.email %></td>
              <td><%= user.sex %></td>
              <td><%= user.age %></td>
              <td><%= user.is_deleted ? '退会': '有効' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
