<div class = "container">
  <div class = "row">
    <div class = "col-md-8 offset-md-2 mt-3">
      <h5><i class="fas fa-thumbs-up mx-1"></i>いいね一覧</h5>
      <% if @like_posts.present? %>
        <% @like_posts.each do |like_post| %>
          <div class="card mx-auto mt-4 shadow-lg">
            <%= image_tag like_post.get_image(200,200), class: "card-img-top" %>
            <div class="card-body">
              <div class = "row">
                <div class = "col-md-4 mb-3">
                  <div class = "text-left">
                    <%= link_to user_path(like_post.user.id) do %>
                      <%= image_tag like_post.user.get_profile_image(50,50), class: "rounded-circle" %>
                    <% end %>
                  </div>
                  <div class = "text-left" style="font-size: 0.8em;">
                    <%= link_to user_path(like_post.user.id) do %>
                      <%= like_post.user.name %>
                    <% end %>
                  </div>
                </div>
                <div class = "col-md-8 icon">
                  <h5 class = "card-title">
                    <%= link_to post_blog_path(like_post.id) do %>
                      <%= like_post.title %>
                    <% end %>
                  </h5>
                  <p class = "card-text mt-2">
                    <%= like_post.blog %>
                    <% like_post.tags.each do |tag| %>
                      <%= link_to search_tag_post_blogs_path(tag_id: tag.id), class: "link_edit" do %>
                        <span class = "bg-secondary text-white rounded-pill m-1 p-1" style="font-size: 0.5em;">
                          #<%= tag.name %><%= "(#{tag.post_blogs.published.count})" %>
                        </span>
                      <% end %>
                    <% end %>
                  </p>
                  <p class = "text-right" style="font-size: 0.8em;">
                    <%= like_post.likes.count %><i class="fas fa-thumbs-up mx-1"></i>
                      <%= link_to "#{like_post.post_comments.count} 件のコメント", post_blog_path(like_post.id) %>
                  </p>
                  <p class = "text-right" style="font-size: 0.8em;">
                    <%= "#{l like_post.created_at, format: :long}に投稿" %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class = "pagination mt-5">
          <%#= paginate @like_posts %>
        </div>
      <% else %>
        <p>いいねした投稿はありません。</p>
      <% end %>
    </div>
  </div>
</div>