<div class = "container">
  <div class = "row">
    <div class = "col-md-8 offset-md-2 mt-3">
      <% unless (current_user.present? && @user.id == current_user.id) %>
        <h5><i class="far fa-file-alt mx-1"></i><%= @user.name %>さんの投稿一覧</h5>
      <% end %>
      <% if @post_blogs.present? %>
        <% @post_blogs.each do |post_blog| %>
          <div class="card mx-auto mt-4 shadow-lg">
            <%= image_tag post_blog.get_image(200,200), class: "card-img-top" %>
            <div class="card-body">
              <div class = "row">
                <div class = "col-md-4 mb-3">
                  <div class = "text-left">
                    <%= link_to user_path(post_blog.user.id) do %>
                      <%= image_tag post_blog.user.get_profile_image(50,50), class: "rounded-circle" %>
                    <% end %>
                  </div>
                  <div class = "text-left" style="font-size: 0.8em;">
                    <%= link_to user_path(post_blog.user.id) do %>
                      <%= post_blog.user.name %>
                    <% end %>
                  </div>
                </div>
                <div class = "col-md-8 icon">
                  <h5 class = "card-title">
                    <%= link_to post_blog_path(post_blog.id) do %>
                      <%= post_blog.title %>
                    <% end %>
                  </h5>
                  <p class = "card-text mt-2">
                    <%= post_blog.blog %>
                    <% post_blog.tags.each do |tag| %>
                      <%= link_to search_tag_post_blogs_path(tag_id: tag.id), class: "link_edit" do %>
                        <span class = "bg-secondary text-white rounded-pill m-1 p-1 text-nowrap" style="font-size: 0.5em;">
                          #<%= tag.name %><%= "(#{tag.post_blogs.published.count})" %>
                        </span>
                      <% end %>
                    <% end %>
                  </p>
                  <p class = "text-right" style="font-size: 0.8em;">
                    <%= post_blog.likes.count %><i class="fas fa-thumbs-up mx-1"></i>
                    <%= link_to "#{post_blog.post_comments.count} 件のコメント", post_blog_path(post_blog.id) %>
                  </p>
                  <p class = "text-right" style="font-size: 0.8em;">
                    <%= "#{l post_blog.created_at, format: :long}に投稿" %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class = "pagination mt-5">
          <%= paginate @post_blogs %>
        </div>
      <% else %>
        <p>投稿はありません。</p>
      <% end %>
    </div>
  </div>
</div>