<h2>マイページ</h2>

<div class = "profile_image_field">
  <%= image_tag @user.get_profile_image(200,200) %>
</div>

<% if (current_user.present? && @user.id == current_user.id) || (current_admin.present? && current_admin.email == 'admin@example.com') %>
  <div class = "edit_user">
    <%= link_to edit_user_path(@user.id) do %>
      <i class="fas fa-user-cog fa-lg"></i>
    <% end %>
  </div>
  <div class = "schedule">
    <%= link_to schedules_path do %>
      <i class="far fa-calendar-plus fa-lg"></i>
    <% end %>
  </div>
<% end %>

  <div class = "name_field">
    <%= @user.name %>
  </div>

  <div class = "birth_date_firld">
    <%= @user.age %>
  </div>

  <div class = "sex_field">
    <%= @user.sex %>
  </div>

  <div class = "introduction_field">
    <%= @user.introduction %>
  </div>

<%= month_calendar events: @schedules do |date, schedules| %>
  <%= date.day %>

  <% schedules.each do |schedule| %>
    <div>
      <%= link_to schedule_path(schedule.id) do %>
        <%= schedule.title %>
      <% end %>
    </div>
  <% end %>
<% end %>