<div class = "container">
  <div class = "row mt-5">
    <div class = "col-md-4 mt-5 text-center">
      <%= image_tag @user.get_profile_image(250,250), class: "rounded-circle" %>
      <div class = "icon mt-3 text-right pr-5">
        <span class = "mx-2">
          <%= link_to user_followings_path(@user.id) do %>
            <%= @user.followings.count %>フォロー
          <% end %>
        </span>
        <span class = "mx-2">
          <%= link_to user_followers_path(@user.id) do %>
            <%= @user.followers.count %>フォロワー
          <% end %>
        </span>
        <% if (current_user.present? && @user.id == current_user.id) %>
           <%= link_to edit_user_path(@user.id), class: "link_edit" do %>
              <i class="fas fa-user-cog fa-lg mx-3" style ="color: #006400;"></i>
           <% end %>
           <%= link_to schedules_path, class: "link_edit" do %>
              <i class="far fa-calendar-plus fa-lg" style ="color: #006400;"></i>
           <% end %>
        <% else %>
          <!--自分以外のshow画面で表示-->
          <!--ゲストユーザーはフォローボタンの表示をさせない。-->
          <% unless @user.email == "guest@example.com" %>
            <% if current_user.following?(@user) %>
              <%= link_to "フォロー解除", user_relationships_path(@user.id), method: :delete, class: "btn btn-secondary m-2" %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-primary m-2" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <p class = "text-right mr-5 mt-2">
        <%= link_to posting_user_path(@user.id) do %>
          <% if (current_user.present? && @user.id == current_user.id) %>
            <i class="far fa-file-alt mx-1"></i>投稿を確認
          <% else %>
            <i class="far fa-file-alt mx-1"></i><%= @user.name %>さんの投稿
          <% end %>
        <% end %></br>
        <%= link_to likes_user_path(@user.id) do %>
          <i class="fas fa-thumbs-up mx-1"></i>いいねした投稿
        <% end %>
      </p>
      <div class="card mt-3 text-left">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ユーザー名： <%= @user.name %></li>
          <li class="list-group-item">年齢： <%= @user.age %></li>
          <li class="list-group-item">性別： <%= @user.sex %></li>
          <li class="list-group-item">目標：<%= @user.introduction %></li>
        </ul>
      </div>
    </div>
    <div class = "col-md-8 text-align-center mt-5">
      <%= render 'public/schedules/calendar', schedules: @schedules %>
    </div>
  </div>
</div>


