<h2>マイページ</h2>

<div class = "profile_image_field">
  <%= image_tag @user.get_profile_image(200,200) %>
</div>

<div class = "edit_user">
  <%= link_to edit_user_path(current_user) do %>
    <i class="fas fa-user-cog fa-lg"></i>
  <% end %>
</div>

<div class = "name_field">
  <%= @user.name %>
</div>

<div class = "birth_date_firld">
  <%= @user.birth_date %>
</div>

<div class = "sex_field">
  <%= @user.sex %>
</div>

<div class = "introduction_field">
  <%= @user.introduction %>
</div>

<%= link_to schedules_path do %>
  <i class="fal fa-calendar-plus fa-lg"></i>
<% end %>