<!DOCTYPE html>
<html>
  <head>
    <title>Gyms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!--全体をflexに、縦並び、両端から均等に配置-->
  <body class="d-flex flex-column justify-content-between">
    <!--sticky-top=navbarを固定-->
    <header class = "shadow-sm sticky-top">
      <nav class = "navbar navbar-expand-lg navbar-light" style = "background-color: #808080;">
        <div class = "container">
          <a class = "navbar-brand p-3" href = "/"><%= "ロゴ" %></a>
          <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarNavDropdown"
                        aria-controls = "navbarNavDropdown" aria-expanded = "false" aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
          </button>
          <div class = "collapse navbar-collapse" id = "navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-item mx-4">
                  <%= link_to post_blogs_path, class: "edit_link" do %>
                    <i class="fas fa-home mr-1"></i>Blogs
                  <% end %>
                </li>
                <li class="nav-item mx-4">
                 <%= link_to destroy_admin_session_path, method: :delete, class: "edit_link" do %>
                   <i class="fas fa-sign-out-alt mr-1"></i>Log out
                 <% end %>
                </li>
                <li class="nav-item mx-4">
                  <%= link_to admin_users_path, class: "edit_link" do %>
                    <i class="fas fa-users mr-1"></i>Users
                  <% end %>
                </li>
              <% elsif user_signed_in? %>
                <li class="nav-item mx-4">
                  <%= link_to new_post_blog_path, class: "edit_link" do %>
                    <i class="far fa-file-alt mr-1"></i>Post
                  <% end %>
                </li>
                <li class="nav-item mx-4">
                  <%= link_to post_blogs_path, class: "edit_link" do %>
                    <i class="fas fa-home mr-1"></i>Blogs
                  <% end %>
                </li>
                <li class="nav-item mx-4">
                  <%= link_to activities_path, class: "edit_link" do %>
                    <% if current_user.activities.where(checked: false).exists? %>
                      <span  style="color: #FFFF00;"><i class="fas fa-bell mr-1"></i>Notice</span>
                    <% else %>
                      <i class="fas fa-bell mr-1"></i>Notice
                    <% end %>
                  <% end %>
                </li>
                <li class="nav-item mx-4">
                  <%= link_to user_path(current_user.id), class: "edit_link" do %>
                    <i class="fas fa-user mr-1"></i>My page
                  <% end %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to post_blogs_path, class: "edit_link" do %>
                    <i class= "fas fa-home mr-1"></i>Blogs
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="flex-fill background <%= (controller_name == 'homes' && action_name == 'top') ? 'top_background' : '' %> <%= (controller_name == 'users' && action_name == 'unsubscribe') ? 'unsubscribe_background' : '' %>">
      <!--フラッシュメッセージの表示-->
      <% flash.each do |message_type, message| %>
　　    <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </main>
    <footer class="text-center text-white" style="background-color: #808080">
      <div class="container pt-4">
         <!--Section: Social media -->
        <div class="mb-4 ms-1">
          <i class="fab fa-facebook-f mx-3"></i>
          <i class="fab fa-twitter mx-3"></i>
          <i class="fab fa-google mx-3"></i>
          <i class="fab fa-instagram mx-3"></i>
          <i class="fab fa-linkedin mx-3"></i>
          <i class="fab fa-github mx-3"></i>
        </div>
         <!--Section: Social media -->
      </div>
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
    </footer>
  </body>
</html>
